.blog-content {
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
  padding: 0 20px;
  padding-bottom: 45px;
  margin-bottom: 125px; }
  .blog-content .content-block-title {
    padding-bottom: 0; }

.content-block-name {
  color: #1d934f; }

.blog-item-container {
  border-bottom: 1px solid #B2B2B7; }
  .blog-item-container:last-child {
    border-bottom: 1px solid transparent; }

.blog-item {
  padding: 35px 0;
  width: 75%; }

.blog-item-img {
  height: 265px;
  background-repeat: no-repeat;
  background-position: center left;
  margin-bottom: 20px; }

.blog-item-content {
  height: 95px;
  overflow: hidden;
  margin-bottom: 20px; }
  .blog-item-content h5 {
    margin-bottom: 10px; }

.blog-item-text {
  margin-bottom: 20px; }
  .blog-item-text h5 {
    margin-bottom: 10px; }

.blog-item-btn .BTN {
  padding: 10px 60px; }

/*# sourceMappingURL=blog.css.map */
