@charset "UTF-8";
main {
  padding-bottom: 95px; }

.contact-information {
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px; }

.contact-information-title, .cart-items-title {
  margin-bottom: 15px; }
  .contact-information-title h5, .cart-items-title h5 {
    color: #222222;
    font-weight: bold;
    text-transform: uppercase; }

.contact-information {
  display: flex;
  flex-wrap: wrap; }
  .contact-information > div {
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #B2B2B7; }
    .contact-information > div:nth-last-child(1), .contact-information > div:nth-last-child(2) {
      border-bottom: none; }
  .contact-information .contact-information-btn {
    display: flex;
    margin-bottom: 55px; }
    .contact-information .contact-information-btn .BTN {
      padding: 5px 35px;
      font-family: "Roboto Condensed";
      letter-spacing: 2px;
      font-size: 24px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .contact-information input, .contact-information textarea {
    width: 80%;
    height: 33px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F7F9FD;
    border: none; }
  .contact-information textarea {
    height: 63px; }
  .contact-information .checkbox-wrapper label {
    font-size: 16px;
    color: #222222; }

.contact-information-user-container {
  display: flex;
  flex-wrap: wrap; }

.contact-information-user-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
  font-size: 14px;
  color: #222222; }
  .contact-information-user-item label span {
    color: #D22C00; }

.contact-information-select {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  max-width: 60%;
  margin-bottom: 20px; }
  .contact-information-select.new-post-branch {
    display: none;
    max-width: 80%; }
  .contact-information-select select {
    height: 33px;
    border-radius: 3px;
    background-color: #F7F9FD;
    border: 1px solid #E9E9E9; }

.contact-information-delivery input:checked + label + .new-post-branch {
  display: flex; }

.contact-information-comments {
  width: 100%; }

.cart-items-container {
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1); }

.cart-item-table {
  display: flex;
  justify-content: space-between; }
  .cart-item-table div {
    margin-right: 10px;
    margin-left: 12px; }

.cart-items-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DDDDDD;
  padding: 10px 0; }
  .cart-items-item .cart-items-item-img {
    width: 18%; }
  .cart-items-item .cart-items-item-description {
    width: 25%; }
  .cart-items-item .cart-items-item-price, .cart-items-item .cart-items-item-sum {
    width: 18%;
    line-height: 15px; }
  .cart-items-item .cart-items-item-count {
    width: 15%; }
    .cart-items-item .cart-items-item-count input {
      text-align: center;
      background-color: transparent;
      width: 75%;
      height: 40px;
      border-color: #DDDDDD;
      border-style: solid;
      border-width: 1px; }
    .cart-items-item .cart-items-item-count .number-wrapper {
      position: relative; }
    .cart-items-item .cart-items-item-count .number-wrapper::after, .cart-items-item .cart-items-item-count .number-wrapper::before {
      position: absolute;
      right: 1px;
      width: 15px;
      height: 11px;
      font-size: 10px;
      pointer-events: none;
      background: #fff;
      color: black;
      text-align: center; }
    .cart-items-item .cart-items-item-count .number-wrapper::after {
      content: "▲";
      top: 0; }
    .cart-items-item .cart-items-item-count .number-wrapper::before {
      content: "▼";
      bottom: 0; }
  .cart-items-item .BTN.delete {
    top: 40%; }

.cart-items-item-price {
  padding-left: 10px;
  border-left: 1px solid #DDDDDD; }

.cart-items-sum {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 17px;
  line-height: 15px;
  color: #222222;
  font-weight: bold; }
  .cart-items-sum span {
    margin-left: 5px;
    font-size: 36px;
    color: #1d934f; }

/*# sourceMappingURL=cart.css.map */
