@charset "UTF-8";
.product-content {
  padding-bottom: 60px; }
  .product-content .row {
    margin-left: 0;
    margin-right: 0; }

.product-content-filter {
  padding: 10px 15px; }

.product-filter {
  border-radius: 5px; }

.product-filter-item {
  padding-top: 20px;
  border-bottom: 1px dashed #B2B2B7; }
  .product-filter-item .checkbox-wrapper {
    padding-bottom: 30px; }
  .product-filter-item:last-child {
    border-bottom: 1px dashed transparent; }
  .product-filter-item:first-child {
    border-bottom: 1px solid #B2B2B7;
    padding-bottom: 15px;
    padding-top: 0; }
  .product-filter-item svg {
    color: #25A15B; }
  .product-filter-item .fa-plus {
    display: none; }
  .product-filter-item .fa-minus {
    display: block; }
  .product-filter-item.closed .fa-plus {
    display: block; }
  .product-filter-item.closed .fa-minus {
    display: none; }

.filter-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 18px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Roboto Condensed";
  text-transform: uppercase; }

/*Filter-Price */
.filter-item-price {
  display: flex;
  justify-content: space-between; }

.filter-item-price input {
  background: #ffffff;
  color: #000000;
  width: 70px;
  text-align: center;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px; }

/* Контейнер слайдера */
.ui-slider {
  position: relative;
  margin: 20px 12px; }

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-color: #25A15B;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  cursor: pointer; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  overflow: hidden; }

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 5px; }

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
  margin-left: -12px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: #E1E5EE; }

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  background: #25A15B; }

/* скругление для полосы слайдера */
.ui-corner-all {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.content-block-container {
  padding-top: 10px;
  padding-bottom: 35px; }

.content-block-item-container {
  width: 100%; }

.content-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 17px;
  transition: 0.4s; }
  .content-block-item:hover, .content-block-item:focus {
    box-shadow: none;
    border-color: #E1E5EE;
    border-style: solid;
    border-width: 1px; }

.content-block-item-img {
  margin: 15px;
  height: 170px;
  overflow: hidden; }
  .content-block-item-img img {
    width: 100%; }

.content-block-item-name {
  height: 40px;
  overflow: hidden;
  padding: 0 15px;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #1D253F;
  font-weight: bold; }

.product-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .product-content-items .content-block-container {
    width: 33%; }

.content-block-item-action {
  display: flex;
  justify-content: center;
  width: 100%; }

.product-content-items.string .content-block-container {
  width: 100%;
  margin-right: 0;
  margin-left: 0; }
.product-content-items.string .content-block-item {
  flex-direction: row;
  padding: 0;
  align-items: normal; }
.product-content-items.string .content-block-item-img {
  width: 20%;
  height: auto; }
.product-content-items.string .content-block-item-name {
  width: 35%;
  align-self: center; }
.product-content-items.string .content-block-item-action {
  border-left: 1px solid #E1E5EE;
  padding-bottom: 17px;
  width: 45%;
  align-items: center; }

/*# sourceMappingURL=catalog.css.map */
