@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }
html, body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0; }

h1, .h1 {
  font-size: 48px; }

h2, .h2 {
  font-size: 29px; }

h3, .h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

.h4 {
  font-size: 18px;
  color: #B2B2B7;
  font-family: RobotoCondensed;
  font-weight: bold; }

h5, .h5 {
  font-size: 16px;
  font-weight: 800; }
  h5.red, .h5.red {
    color: #ff2020; }

h6, .h6 {
  font-size: 15px; }

.lead {
  font-size: 15px;
  line-height: 1.5; }
  .lead li {
    list-style-type: disc;
    margin-left: 40px; }

b {
  font-weight: 800; }

span.green {
  color: #25A15B; }

a {
  outline: none;
  color: inherit; }
  a.link {
    border-bottom: 1px solid; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

*:hover, *:active, *:focus {
  outline: none; }

.breadcrumbs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0; }
  .breadcrumbs-nav .breadcrumbs-nav-item {
    font-size: 15px;
    color: #000000; }
    .breadcrumbs-nav .breadcrumbs-nav-item svg {
      font-size: 16px;
      color: #32A865;
      margin-right: 10px; }
    .breadcrumbs-nav .breadcrumbs-nav-item::after {
      content: "/";
      padding: 0 5px; }
    .breadcrumbs-nav .breadcrumbs-nav-item.active {
      color: #969696; }

.BTN {
  color: #ffffff;
  background-color: #25A15B;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .BTN:hover, .BTN:focus, .BTNactive {
    color: #ffffff;
    cursor: pointer;
    background-color: #1d934f;
    box-shadow: 0 0 0 transparent; }

.BTN.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 8px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 10px;
  line-height: 21px; }

.BTN.white {
  color: #25A15B;
  background-color: #ffffff;
  border-color: #25A15B;
  border-style: solid;
  border-width: 1px;
  font-weight: normal; }
  .BTN.white:hover, .BTN.white:focus, .BTN.white:active {
    color: #ffffff;
    background-color: #1d934f; }
.BTN.br-white {
  border-color: #ffffff solid 3px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  box-shadow: 0px 19px 29px rgba(24, 104, 188, 0.25);
  text-transform: uppercase; }

.checkbox-wrapper {
  display: block; }
  .checkbox-wrapper label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 27px;
    color: #6d757d;
    font-family: "Open Sans"; }
  .checkbox-wrapper .checkbox-circle {
    display: block;
    width: 14px;
    height: 14px;
    border-color: #C7C7C7;
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
    margin-bottom: 6px; }
  .checkbox-wrapper input {
    display: none; }
    .checkbox-wrapper input:checked + label .checkbox-circle {
      border-color: #1d934f;
      border-style: solid;
      border-width: 1px; }
      .checkbox-wrapper input:checked + label .checkbox-circle:before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: #1d934f;
        margin: 3px; }

/*GO TOP */
.go_top_block {
  position: fixed;
  cursor: pointer;
  right: 30px;
  top: 50%;
  text-align: center;
  height: 87px;
  display: none; }

.go_top_block > p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #25A15B;
  text-align: center; }

.go_top_btn {
  position: relative;
  width: 36px;
  height: 53px;
  border-radius: 18px;
  margin: auto; }
  .go_top_btn::after {
    content: " ";
    display: inline-block;
    position: absolute;
    background: url(../img/go_top.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    right: 0;
    top: 10px; }
  .go_top_btn:hover + p, .go_top_btn:focus + p {
    color: #1d934f; }

.decor-block {
  margin-left: 12px; }
  .decor-block::before {
    content: url("../img/decor-leaf.png"); }

.header-main {
  padding: 20px 0; }

.header-main-item.logo {
  display: inline-flex;
  align-items: center;
  font-size: 14px; }
  .header-main-item.logo .logo-description {
    margin-left: -11px; }

.header-main-item.search form {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 530px; }

.header-main-item.search .search-field {
  width: 100%;
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #B2B2B7;
  padding-left: 21px;
  padding-right: 53px; }

.header-main-item.search .BTN {
  width: 53px;
  height: 44px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/search-solid.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center; }

.header-main-item.lang {
  position: relative;
  cursor: pointer; }
  .header-main-item.lang .passive-lang {
    position: absolute;
    left: 26px;
    padding: 8px 0;
    display: none; }
    .header-main-item.lang .passive-lang svg {
      display: none; }
  .header-main-item.lang .active-lang {
    display: flex;
    justify-content: space-around;
    padding: 8px 0; }
  .header-main-item.lang:hover .passive-lang {
    display: block; }

.header-main-item.basket {
  position: relative;
  text-align: end; }

.header-main-item.basket .basket-img {
  display: inline-block;
  margin-left: -17px; }
  .header-main-item.basket .basket-img:hover, .header-main-item.basket .basket-img:focus, .header-main-item.basket .basket-imgactive {
    cursor: pointer; }

.header-main-item.basket .basket-item-count {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 2px;
  font-size: 15px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: bold;
  background-color: #25A15B;
  width: 18px;
  height: 18px; }

.header-main-item.basket .basket-items {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 272px;
  background-color: #ffffff;
  box-shadow: 0px 7px 16px rgba(48, 48, 48, 0.21); }

.header-main-item.basket:hover .basket-items {
  display: block; }

.basket-items .basket-items-item {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 84px 12px 0;
  font-size: 15px;
  line-height: 19px;
  color: #222222;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1); }

.basket-items .basket-items-item-img {
  margin: 0 16px; }

.basket-items .basket-items-item-info span {
  font-size: 16px;
  line-height: 12px;
  color: #222222;
  font-weight: bold;
  text-align: right; }

.basket-items .basket-items-price {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 68px;
  box-shadow: 0px 1px 1px rgba(48, 48, 48, 0.21);
  font-size: 15px;
  color: #000000; }
  .basket-items .basket-items-price .sum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.basket-items .basket-items-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 13px 0; }
  .basket-items .basket-items-btn .BTN {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0 30px; }

.header-nav {
  border-top: 1px solid #E4E6EE;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1); }

.header-mobile-nav, .product-mobile-filter {
  display: none;
  justify-content: space-between;
  margin: 0 21px;
  padding: 20px 0;
  font-size: 15px;
  color: #25A15B;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s; }
  .header-mobile-nav svg, .product-mobile-filter svg {
    font-size: 20px;
    transition: 0.4s; }
  .header-mobile-nav .fa-minus, .product-mobile-filter .fa-minus {
    display: none; }
  .header-mobile-nav.opened .fa-plus, .product-mobile-filter.opened .fa-plus {
    display: none; }
  .header-mobile-nav.opened .fa-minus, .product-mobile-filter.opened .fa-minus {
    display: inline-block; }
  .header-mobile-nav.opened .fa-chevron-down, .product-mobile-filter.opened .fa-chevron-down {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.product-mobile-filter {
  margin: 0 5px; }

.header-mobile-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 52px;
  height: 43px;
  background-color: #25A15B;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.header-nav-menu {
  display: flex;
  position: relative; }
  .header-nav-menu li.header-nav-menu-group {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #323946;
    width: 100%;
    padding: 22px 0;
    margin-right: 80px;
    border-left: 1px solid #ffffff; }
    .header-nav-menu li.header-nav-menu-group:first-child {
      border-top: 4px solid #25A15B;
      margin-left: 5px; }
    .header-nav-menu li.header-nav-menu-group:last-child {
      border-right: 1px solid #ffffff;
      margin: 0; }
    .header-nav-menu li.header-nav-menu-group:hover, .header-nav-menu li.header-nav-menu-group:focus, .header-nav-menu li.header-nav-menu-groupactive {
      cursor: pointer; }

.header-nav-menu-group-block {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  max-width: 270px;
  background-color: #ffffff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 15px 50px rgba(181, 204, 235, 0.5);
  -webkit-box-shadow: 0px 15px 50px rgba(181, 204, 235, 0.5);
  -moz-box-shadow: 0px 15px 50px rgba(181, 204, 235, 0.5);
  z-index: 8; }

.header-nav-menu-group:hover .header-nav-menu-group-block {
  display: block; }

.header-nav-menu-item {
  position: relative;
  flex-wrap: wrap;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #323946;
  text-align: left; }
  .header-nav-menu-item:hover, .header-nav-menu-item:focus {
    color: #ffffff;
    background-color: #1d934f; }

.main-slider {
  width: 100%;
  padding-bottom: 25px; }

.main-slider-slide {
  position: relative;
  padding-bottom: 442px;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }

.main-slider-container {
  width: 100%;
  height: 100%; }

.main-slider-content {
  position: absolute;
  top: 60px; }

.main-slider-text {
  color: #ffffff;
  margin-bottom: 40px; }

.main-slider-text-small {
  font-size: 29px;
  line-height: 49px;
  font-weight: 300;
  margin-bottom: 25px; }

.main-slider-text-large {
  font-size: 48px;
  font-family: RobotoCondensed;
  font-weight: bold; }

.main-slider-btn {
  padding: 13px 20px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px; }
  .main-slider-btn .long-arrow::before {
    content: url("../img/long-arrow.png");
    margin-left: 10px;
    vertical-align: middle; }

.slick-dots-container {
  position: relative; }

.slick-dots {
  bottom: 40px;
  text-align: left;
  width: auto; }
  .slick-dots li {
    margin-right: 64px;
    width: auto;
    height: auto; }
  .slick-dots a:not([href]).slick-dots-item {
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 41px; }
  .slick-dots .slick-active a:not([href]).slick-dots-item {
    font-size: 26px; }
  .slick-dots .slick-active::after {
    content: " ";
    display: inline-block;
    width: 56px;
    height: 3px;
    background-color: #ffffff;
    margin-left: 10px; }

.product-content-title {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
  margin-bottom: 50px;
  font-size: 24px;
  color: #1D253F;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase; }

.content-block-title {
  display: inline-flex;
  width: 100%;
  padding: 32px 0; }

.content-block-name {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center; }

.content-block-container {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap; }

.content-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
  overflow: hidden;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 17px;
  transition: 0.4s; }
  .content-block-item:hover, .content-block-item:focus {
    box-shadow: none;
    border-color: #E1E5EE;
    border-style: solid;
    border-width: 1px; }

.content-block-item-name {
  line-height: 19px;
  text-align: center;
  letter-spacing: 0;
  color: #1D253F; }

.content-block-item-btn {
  width: 80%;
  border-top: 1px solid #E1E5EE;
  text-align: center;
  padding-top: 30px; }
  .content-block-item-btn .BTN {
    padding: 10px 55px; }

.product-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .product-category .content-block {
    padding-bottom: 70px; }
  .product-category .content-block-item-container {
    padding: 0 15px;
    width: 50%; }
  .product-category .content-block-item-img {
    position: relative;
    width: 100%;
    height: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .product-category .content-block-item-img img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%; }
  .product-category .content-block-item-name {
    margin: 30px 15px;
    font-size: 18px;
    font-weight: bold; }

.news-article {
  background-color: #E4E6EE; }
  .news-article .content-block {
    padding-bottom: 85px; }
  .news-article .content-block-link a {
    font-size: 16px;
    line-height: 17px;
    color: #16A72D;
    font-weight: bold;
    border-bottom: 1px dashed #16A72D; }
    .news-article .content-block-link a:hover, .news-article .content-block-link a:focus {
      color: #1d934f;
      border-bottom: 1px dashed #1d934f; }
  .news-article .content-block-item-container {
    padding: 0 15px;
    width: 25%; }
  .news-article .content-block-item {
    border-color: #E4E6EE;
    border-style: solid;
    border-width: 1px; }
  .news-article .content-block-item-img {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .news-article .content-block-item-img img {
      width: 100%; }
  .news-article .content-block-item-name {
    font-size: 16px;
    letter-spacing: 0;
    color: #1d253f;
    font-weight: normal;
    height: 40px;
    margin: 10px 15px;
    overflow: hidden; }

.about {
  position: relative;
  height: 590px;
  background-image: url("../img/about-background-img.png");
  background-repeat: no-repeat;
  background-position: right; }
  .about::after {
    content: " ";
    position: absolute;
    right: 411px;
    border-right: 343px solid transparent;
    border-left: 1px solid #ffffff;
    border-bottom: 590px solid #ffffff;
    z-index: 1; }
  .about .container {
    position: relative; }
  .about .content-block {
    position: absolute;
    padding-top: 23px;
    z-index: 2; }
  .about h5 {
    color: #1d934f;
    font-family: "Roboto Condensed";
    font-weight: bold;
    letter-spacing: -1px; }
  .about .awards {
    display: flex; }
    .about .awards img {
      margin-left: 40px; }

footer {
  background-color: #222222;
  padding-top: 48px;
  background-image: url("../img/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 88%; }

.footer-logo {
  display: flex;
  align-items: center; }
  .footer-logo .logo-description {
    font-size: 17px;
    color: #B2B2B7; }

.footer-content {
  color: #ffffff; }
  .footer-content.menu {
    margin-left: -60px; }

.footer-content-title {
  display: none;
  font-size: 24px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 800; }
  .footer-content-title .fa-plus, .footer-content-title .fa-minus {
    display: none;
    margin-left: 20px; }

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer-menu .footer-menu-item {
    max-width: 45%;
    min-width: 35%; }

.footer-content-item {
  position: relative;
  font-size: 16px;
  margin-bottom: 24px;
  width: 264px; }
  .footer-content-item a:hover, .footer-content-item a:focus, .footer-content-item a:active {
    color: #1d934f; }

.footer-content-contact a {
  display: flex;
  align-items: start; }
  .footer-content-contact a span {
    margin-right: 10px; }

.footer-phone::before {
  content: url("../img/footer-phone-img.png"); }

.footer-email::before {
  content: url("../img/footer-email-img.png"); }

.footer-bottom {
  border-top: 1px solid #ffffff;
  background-color: rgba(37, 37, 37, 0.6); }

.footer-bottom-container {
  display: flex;
  align-items: center;
  padding: 20px 0; }

.footer-social {
  display: flex; }
  .footer-social svg {
    margin-right: 55px;
    font-size: 20px;
    color: #25A15B;
    cursor: pointer; }
    .footer-social svg:hover, .footer-social svg:focus {
      color: #1d934f; }

.footer-copyright {
  font-size: 16px;
  line-height: 30px;
  color: #B2B2B7;
  text-align: center; }

.footer-ask {
  display: flex;
  justify-content: center; }
  .footer-ask .ask-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .footer-ask .ask-btn:after {
      content: url("../img/footer-ask-btn.png");
      height: 30px;
      margin-left: 10px; }

.pagination-content-block {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 32px; }

.pagination-item {
  margin-left: 20px; }
  .pagination-item:first-child .pagination-link, .pagination-item:last-child .pagination-link {
    background-color: #25A15B;
    color: #ffffff; }

.pagination-link {
  position: relative;
  display: block;
  padding: 10px 16px;
  margin-left: -1px;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .pagination-link:hover, .pagination-link:focus, .pagination-link:active {
    box-shadow: 0px 6px 18px rgba(52, 52, 52, 0.2); }

/*# sourceMappingURL=global.css.map */
