.product-content-title {
  margin-bottom: 30px; }

.item-container-content {
  display: flex;
  flex-wrap: wrap; }

.item-container-content-img-block {
  width: 50%;
  max-height: 430px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1); }
  .item-container-content-img-block .item-container-content-img img {
    width: 100%; }

.item-container-content-info {
  width: 50%;
  padding: 0 30px; }
  .item-container-content-info div {
    margin-bottom: 20px; }
  .item-container-content-info .item-container-price {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 27px;
    color: #1D253F;
    font-family: "Roboto Condensed";
    font-weight: bold;
    text-transform: uppercase; }
    .item-container-content-info .item-container-price span {
      color: #25A15B; }
  .item-container-content-info .item-container-availability, .item-container-content-info .item-container-box {
    font-size: 18px;
    line-height: 27px;
    color: #B2B2B7; }
    .item-container-content-info .item-container-availability span, .item-container-content-info .item-container-box span {
      color: #323946; }
  .item-container-content-info .item-container-description {
    font-size: 16px;
    line-height: 27px;
    color: #1D253F; }
  .item-container-content-info .item-container-btn {
    display: flex; }
    .item-container-content-info .item-container-btn .BTN {
      padding: 5px 70px; }
      .item-container-content-info .item-container-btn .BTN .shopping-basket-btn {
        content: url("../img/shopping-basket-btn.png");
        width: 30px;
        margin-left: 15px; }

.item-description {
  margin-top: 55px; }

.item-description-container {
  background-color: #E4E6EE; }
  .item-description-container a {
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: #2a2a2a;
    font-family: "Open Sans";
    font-weight: 800; }
    .item-description-container a.active {
      color: #ffffff;
      background-color: #1d934f; }
      .item-description-container a.active:hover, .item-description-container a.active:focus {
        text-decoration: none; }
    .item-description-container a:hover, .item-description-container a:focus {
      text-decoration: underline; }

.tab-content {
  padding-top: 30px;
  padding-bottom: 50px; }

.item-tab-pane-img {
  margin: 20px 0;
  max-width: 100%; }
  .item-tab-pane-img img {
    max-width: 100%; }

/*# sourceMappingURL=item.css.map */
