//Project Colors

$Port_Gore: #1D253F //RGB: 29, 37, 63
$La_Palma: #16A72D //RGB: 22, 167, 45
$Eucalyptus: #25A15B //RGB: 37, 161, 91
$Eucalyptus_H: #1d934f //RGB: 29, 147, 79
$Chateau_Green: #32A865 //RGB: 50, 168, 101
$Grenadier : #D22C00
$Torch_Red: #ff2020
$White: #ffffff
$Link_Water: #F7F9FD
$Mercury: #E9E9E9
$Athens_Gray: #E4E6EE
$Mystic: #E1E5EE
$Alto: #DDDDDD
$Bombay: #B2B2B7
$Silver: #C7C7C7
$Oslo_Gray: #969696
$Bright_Gray: #323946
$Mine_Shaft: #222222 //rgb(34,34,34) - //rgb(54,54,54)
$Port_Gore: #1D253F
$Black: #000000

$box-shadow: 0px 6px 20px rgba(24,104,188,0.1)

// Text overflow
@mixin overflow()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// Generic border-radius
@mixin border-radius($b_r: 5px)
  -webkit-border-radius: $b_r
  -moz-border-radius: $b_r
  border-radius: $b_r

// Generic border

@mixin borber($b_c, $b_s: solid, $b_w: 1px)
  border-color: $b_c
  border-style: $b_s
  border-width: $b_w

// Generic transform
@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

// rotate
@mixin rotate ($deg)
  @include transform(rotate(#{$deg}deg))


// scale
@mixin scale($scale)
  @include transform(scale($scale))

// translate
@mixin translate ($x, $y)
  @include transform(translate($x, $y))

// skew
@mixin skew ($x, $y)
  @include transform(skew(#{$x}deg, #{$y}deg))

//transform origin
@mixin transform-origin ($origin)
  moz-transform-origin: $origin
  -o-transform-origin: $origin
  -ms-transform-origin: $origin
  -webkit-transform-origin: $origin
  transform-origin: $origin