@import "ruls"

.blog-content
  box-shadow: $box-shadow
  padding: 0 20px
  padding-bottom: 45px
  margin-bottom: 125px
  & .content-block-title
    padding-bottom: 0

.content-block-name
  color: $Eucalyptus_H

.blog-item-container
  border-bottom: 1px solid $Bombay
  &:last-child
    border-bottom: 1px solid transparent

.blog-item
  padding: 35px 0
  width: 75%

.blog-item-img
  height: 265px
  background-repeat: no-repeat
  background-position: center left
  margin-bottom: 20px

.blog-item-content
  height: 95px
  overflow: hidden
  margin-bottom: 20px
  & h5
    margin-bottom: 10px

.blog-item-text
  margin-bottom: 20px
  & h5
    margin-bottom: 10px

.blog-item-btn .BTN
  padding: 10px 60px