@import "ruls"

main
  padding-bottom: 95px

.contact-information
  box-shadow: $box-shadow
  padding-top: 30px
  padding-left: 35px
  padding-right: 35px

.contact-information-title, .cart-items-title
  margin-bottom: 15px
  & h5
    color: $Mine_Shaft
    font-weight: bold
    text-transform: uppercase

.contact-information
  display: flex
  flex-wrap: wrap
  & > div
    width: 100%
    margin-bottom: 25px
    border-bottom: 1px solid $Bombay
    &:nth-last-child(1), &:nth-last-child(2)
      border-bottom: none
  & .contact-information-btn
    display: flex
    margin-bottom: 55px
    & .BTN
      padding: 5px 35px
      font-family: "Roboto Condensed"
      letter-spacing: 2px
      font-size: 24px
      @include border-radius()
  & input, & textarea
    width: 80%
    height: 33px
    @include border-radius(3px)
    background-color: $Link_Water
    border: none
  & textarea
    height: 63px
  & .checkbox-wrapper label
    font-size: 16px
    color: $Mine_Shaft

.contact-information-user-container
  display: flex
  flex-wrap: wrap

.contact-information-user-item
  width: 50%
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 35px
  font-size: 14px
  color: $Mine_Shaft
  & label span
    color: $Grenadier

.contact-information-select
  display: flex
  flex-direction: column
  line-height: 30px
  max-width: 60%
  margin-bottom: 20px
  &.new-post-branch
    display: none
    max-width: 80%
  & select
    height: 33px
    border-radius: 3px
    background-color: $Link_Water
    border: 1px solid $Mercury

.contact-information-delivery input:checked  + label + .new-post-branch
  display: flex

.contact-information-comments
  width: 100%

.cart-items-container
  box-shadow: $box-shadow

.cart-item-table
  display: flex
  justify-content: space-between
  & div
    margin-right: 10px
    margin-left: 12px

.cart-items-item
  position: relative
  display: flex
  align-items: center
  justify-content: center
  border-top: 1px solid $Alto
  padding: 10px 0
  & .cart-items-item-img
    width: 18%
  & .cart-items-item-description
    width: 25%
  & .cart-items-item-price, & .cart-items-item-sum
    width: 18%
    line-height: 15px
  & .cart-items-item-count
    width: 15%
    & input
      text-align: center
      background-color: transparent
      width: 75%
      height: 40px
      @include borber($Alto)
    & .number-wrapper
      position: relative
    & .number-wrapper::after, & .number-wrapper::before
      position: absolute
      right: 1px
      width: 15px
      height: 11px
      font-size: 10px
      pointer-events: none
      background: #fff
      color: black
      text-align: center
    & .number-wrapper::after
      content: "\25B2"
      top: 0
    & .number-wrapper::before
      content: "\25BC"
      bottom: 0
  & .BTN.delete
    top: 40%

.cart-items-item-price
  padding-left: 10px
  border-left: 1px solid $Alto

.cart-items-sum
  display: flex
  justify-content: center
  margin-top: 40px
  font-size: 17px
  line-height: 15px
  color: $Mine_Shaft
  font-weight: bold
  &  span
    margin-left: 5px
    font-size: 36px
    color: $Eucalyptus_H