@import "ruls"

.product-content
  padding-bottom: 60px
  & .row
    margin-left: 0
    margin-right: 0

.product-content-filter
  padding: 10px 15px

.product-filter
  border-radius: 5px

.product-filter-item
  padding-top: 20px
  border-bottom: 1px dashed $Bombay
  & .checkbox-wrapper
    padding-bottom: 30px
  &:last-child
    border-bottom: 1px dashed transparent
  &:first-child
    border-bottom: 1px solid $Bombay
    padding-bottom: 15px
    padding-top: 0
  & svg
    color: $Eucalyptus
  & .fa-plus
    display: none
  & .fa-minus
    display: block
  &.closed
    & .fa-plus
      display: block
    & .fa-minus
      display: none

.filter-item-title
  display: flex
  justify-content: space-between
  font-size: 18px
  line-height: 18px
  color: $Mine_Shaft
  font-weight: bold
  margin-bottom: 15px
  cursor: pointer
  letter-spacing: 1px
  font-family: "Roboto Condensed"
  text-transform: uppercase
/*Filter-Price*/

.filter-item-price
  display: flex
  justify-content: space-between

.filter-item-price input
  background: $White
  color: $Black
  width: 70px
  text-align: center
  @include borber($Alto)

/* Контейнер слайдера */
.ui-slider
  position: relative
  margin: 20px 12px
/* Ползунок */
.ui-slider .ui-slider-handle
  position: absolute
  z-index: 2
  width: 24px   /* Задаем нужную ширину */
  height: 24px  /* и высоту */
  background: $White /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  @include borber($Eucalyptus, solid, 3px)
  border-radius: 50%
  cursor: pointer

.ui-slider .ui-slider-range
  position: absolute
  z-index: 1
  font-size: .7em
  display: block
  border: 0
  overflow: hidden

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal
  height: 5px /* задаем высоту согласно дизайна */

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle
  top: -10px
  margin-left: -12px

.ui-slider-horizontal .ui-slider-range
  top: 0
  height: 100%

.ui-slider-horizontal .ui-slider-range-min
  left: 0

.ui-slider-horizontal .ui-slider-range-max
  right: 0

/* оформление полосы по которой ходит ползунок */
.ui-widget-content
  background: $Mystic
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header
  background: $Eucalyptus

/* скругление для полосы слайдера */
.ui-corner-all
  @include border-radius(4px)

.content-block-container
  padding-top: 10px
  padding-bottom: 35px

.content-block-item-container
  width: 100%

.content-block-item
  display: flex
  flex-direction: column
  align-items: center
  background-color: $White
  border-radius: 3px
  box-shadow: $box-shadow
  @include borber(transparent)
  padding-bottom: 17px
  transition: .4s
  &:hover, &:focus
    box-shadow: none
    @include borber($Mystic, solid, 1px)

.content-block-item-img
  margin: 15px
  height: 170px
  overflow: hidden
  & img
    width: 100%

.content-block-item-name
  height: 40px
  overflow: hidden
  padding: 0 15px
  line-height: 19px
  text-align: center
  font-size: 16px
  letter-spacing: 0px
  color: $Port_Gore
  font-weight: bold

.product-content-items
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  & .content-block-container
    width: 33%

.content-block-item-action
  display: flex
  justify-content: center
  width: 100%

.product-content-items.string
  & .content-block-container
    width: 100%
    margin-right: 0
    margin-left: 0
  & .content-block-item
    flex-direction: row
    padding: 0
    align-items: normal
  & .content-block-item-img
    width: 20%
    height: auto
  & .content-block-item-name
    width: 35%
    align-self: center
  & .content-block-item-action
    border-left: 1px solid $Mystic
    padding-bottom: 17px
    width: 45%
    align-items: center