$font-family: Roboto
$font-family-2: RobotoCondensed

@mixin font-face($name, $path, $weight: normal,  $style: normal)
  @font-face
    font-family: quote($name)
    src: url($path)
    font-weight: $weight
    font-style: $style

@include font-face($font-family, '../fonts/Roboto-Thin.ttf', 100)
@include font-face($font-family, '../fonts/Roboto-ThinItalic.ttf', 100, italic)
@include font-face($font-family, '../fonts/Roboto-Light.ttf', 300)
@include font-face($font-family, '../fonts/Roboto-LightItalic.ttf', 300, italic)
@include font-face($font-family, '../fonts/Roboto-Regular.ttf')
@include font-face($font-family, '../fonts/Roboto-Italic.ttf', 400, italic)
@include font-face($font-family, '../fonts/Roboto-Medium.ttf', 500)
@include font-face($font-family, '../fonts/Roboto-MediumItalic.ttf', 500, italic)
//@include font-face($font-family, '../fonts/Roboto-Semibold.ttf', 600)
//@include font-face($font-family, '../fonts/Roboto-SemiboldItalic.ttf', 600, italic)
@include font-face($font-family, '../fonts/Roboto-Bold.ttf', 700)
@include font-face($font-family, '../fonts/Roboto-BoldItalic.ttf', 700, italic)
//@include font-face($font-family, '../fonts/Roboto-ExtraBold.ttf', 800)
//@include font-face($font-family, '../fonts/Roboto-ExtraBoldItalic.ttf', 800, italic)
@include font-face($font-family, '../fonts/Roboto-BlackItalic.ttf', 900, italic)
@include font-face($font-family, '../fonts/Roboto-Black.ttf', 900)


@include font-face($font-family-2, '../fonts/RobotoCondensed-Light.ttf', 300)
@include font-face($font-family-2, '../fonts/RobotoCondensed-LightItalic.ttf', 300, italic)
@include font-face($font-family-2, '../fonts/RobotoCondensed-Regular.ttf')
@include font-face($font-family-2, '../fonts/RobotoCondensed-Italic.ttf', 400, italic)
@include font-face($font-family-2, '../fonts/RobotoCondensed-Bold.ttf', 700)
@include font-face($font-family-2, '../fonts/RobotoCondensed-BoldItalic.ttf', 700, italic)



