@import "fonts"
@import "ruls"
//Project Fonts

$font: 'Roboto', sans-serif

//Project Typography

html, body
  font-family: $font
  line-height: 1.2
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6
  margin: 0
h1, .h1
  font-size: 48px
h2, .h2
  font-size: 29px
h3, .h3
  font-size: 24px
h4
  font-size: 18px
.h4
  font-size: 18px
  color: $Bombay
  font-family: $font-family-2
  font-weight: bold
h5,.h5
  font-size: 16px
  font-weight: 800
  &.red
    color: $Torch_Red
h6,.h6
  font-size: 15px
.lead
  font-size: 15px
  line-height: 1.5
  & li
    list-style-type: disc
    margin-left: 40px
b
  font-weight: 800
span.green
  color: $Eucalyptus
a
  outline: none
  color: inherit
  &.link
    border-bottom: 1px solid
  &:hover, &:focus, &:active
    color: inherit
    text-decoration: none

ul
  margin: 0
  padding: 0
  li
    list-style-type: none

*
  &:hover, &:active, &:focus
    outline: none

.breadcrumbs-nav
  display: flex
  flex-wrap: wrap
  padding: 28px 0
  & .breadcrumbs-nav-item
    font-size: 15px
    color: $Black
    & svg
      font-size: 16px
      color: $Chateau_Green
      margin-right: 10px
    &::after
      content: "/"
      padding: 0 5px
    &.active
      color: $Oslo_Gray

.BTN
  color: $White
  background-color: $Eucalyptus
  font-size: 16px
  letter-spacing: 0px
  line-height: 40px
  font-weight: bold
  text-align: center
  @include border-radius(3px)
  &:hover, &:focus, &active
    color: $White
    cursor: pointer
    background-color: $Eucalyptus_H
    box-shadow: 0 0 0 transparent

.BTN.delete
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 11px
  right:  8px
  width: 18px
  height: 18px
  @include border-radius(20px)
  font-size: 10px
  line-height: 21px

.BTN
  &.white
    color: $Eucalyptus
    background-color: $White
    @include borber($Eucalyptus)
    font-weight: normal
    &:hover, &:focus, &:active
      color: $White
      background-color: $Eucalyptus_H
  &.br-white
    @include borber($White solid 3px)
    display: flex
    align-items: center
    box-shadow: 0px 19px 29px rgba(24,104,188,0.25)
    text-transform: uppercase
//Checkbox
.checkbox-wrapper
  display: block
  & label
    display: flex
    align-items: center
    cursor: pointer
    font-size: 15px
    line-height: 27px
    color: rgb(109,117,125)
    font-family: "Open Sans"
  & .checkbox-circle
    display: block
    width: 14px
    height: 14px
    @include borber($Silver)
    margin-right: 10px
    margin-bottom: 6px
  & input
    display: none
    &:checked + label .checkbox-circle
      @include borber($Eucalyptus_H)
      &:before
        content: ""
        display: block
        width: 6px
        height: 6px
        background-color: $Eucalyptus_H
        margin: 3px

/*GO TOP*/
.go_top_block
  position: fixed
  cursor: pointer
  right: 30px
  top: 50%
  text-align: center
  height: 87px
  display: none

.go_top_block > p
  font-size: 14px
  letter-spacing: 1px
  line-height: 30px
  color: $Eucalyptus
  text-align: center

.go_top_btn
  position: relative
  width: 36px
  height: 53px
  border-radius: 18px
  margin: auto
  &::after
    content: ' '
    display: inline-block
    position: absolute
    background: url(../img/go_top.png)
    background-repeat: no-repeat
    width: 40px
    height: 50px
    right: 0
    top: 10px
  &:hover , &:focus
    & +p
      color: $Eucalyptus_H

.decor-block
  margin-left: 12px
  &::before
    content: url("../img/decor-leaf.png")

.header-main
  padding: 20px 0

.header-main-item.logo
  display: inline-flex
  align-items: center
  font-size: 14px
  & .logo-description
    margin-left: -11px

.header-main-item.search form
  display: inline-block
  position: relative
  width: 100%
  max-width: 530px

.header-main-item.search .search-field
  width: 100%
  height: 45px
  @include border-radius()
  background-color: $White
  border: 1px solid $Bombay
  padding-left: 21px
  padding-right: 53px

.header-main-item.search .BTN
  width: 53px
  height: 44px
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  border: none
  position: absolute
  top: 0
  right: 0
  background-image: url("../img/search-solid.png")
  background-repeat: no-repeat
  background-size: 15px
  background-position: center

.header-main-item.lang
  position: relative
  cursor: pointer
  & .passive-lang
    position: absolute
    left: 26px
    padding: 8px 0
    display: none
    & svg
      display: none
  & .active-lang
    display: flex
    justify-content: space-around
    padding: 8px 0
  &:hover .passive-lang
    display: block


.header-main-item.basket
  position: relative
  text-align: end

.header-main-item.basket .basket-img
  display: inline-block
  margin-left: -17px
  &:hover, &:focus, &active
    cursor: pointer

.header-main-item.basket .basket-item-count
  display: inline-block
  text-align: center
  @include border-radius(50%)
  padding-top: 2px
  font-size: 15px
  line-height: 14px
  @include overflow()
  color: $White
  font-weight: bold
  background-color: $Eucalyptus
  width: 18px
  height: 18px

.header-main-item.basket .basket-items
  display: none
  position: absolute
  right: 0
  z-index: 10
  width: 272px
  background-color: $White
  box-shadow: 0px 7px 16px rgba(48,48,48,0.21)

.header-main-item.basket
  &:hover .basket-items
    display: block

.basket-items .basket-items-item
  display: inline-flex
  justify-content: space-around
  align-items: center
  position: relative
  width: 100%
  padding: 12px 84px 12px 0
  font-size: 15px
  line-height: 19px
  color: $Mine_Shaft
  box-shadow: $box-shadow

.basket-items .basket-items-item-img
  margin: 0 16px

.basket-items .basket-items-item-info span
  font-size: 16px
  line-height: 12px
  color: $Mine_Shaft
  font-weight: bold
  text-align: right


.basket-items .basket-items-price
  display: inline-flex
  justify-content: space-around
  align-items: center
  width: 100%
  height: 68px
  box-shadow: 0px 1px 1px rgba(48,48,48,0.21)
  font-size: 15px
  color: $Black
  & .sum
    @include overflow()

.basket-items .basket-items-btn
  display: inline-flex
  justify-content: center
  align-items: center
  bottom: 0
  width: 100%
  padding: 13px 0
  & .BTN
    @include border-radius(0px)
    padding: 0 30px

.header-nav
  border-top: 1px solid $Athens_Gray
  box-shadow: $box-shadow

.header-mobile-nav, .product-mobile-filter
  display: none
  justify-content: space-between
  margin: 0 21px
  padding: 20px 0
  font-size: 15px
  color: $Eucalyptus
  font-weight: bold
  text-transform: uppercase
  transition: .4s
  & svg
    font-size: 20px
    transition: .4s
  & .fa-minus
    display: none
  &.opened
    & .fa-plus
      display: none
    & .fa-minus
      display: inline-block
    & .fa-chevron-down
      @include transform(rotate(#{180}deg))

.product-mobile-filter
  margin: 0 5px

.header-mobile-search
  display: flex
  justify-content: center
  align-items: center
  color: $White
  width: 52px
  height: 43px
  background-color: $Eucalyptus
  @include border-radius()

.header-nav-menu
  display: flex
  position: relative
  & li.header-nav-menu-group
    display: inline-flex
    flex-direction: column
    justify-content: center
    text-align: center
    font-size: 17px
    letter-spacing: 0px
    color: $Bright_Gray
    width: 100%
    padding: 22px 0
    margin-right: 80px
    border-left: 1px solid $White
    &:first-child
      border-top: 4px solid $Eucalyptus
      margin-left: 5px
    &:last-child
      border-right: 1px solid $White
      margin: 0
    &:hover, &:focus, &active
      cursor: pointer

.header-nav-menu-group-block
  display: none
  flex-wrap: wrap
  position: absolute
  top: 100%
  max-width: 270px
  background-color: $White
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px
  box-shadow: 0px 15px 50px rgba(181,204,235,0.5)
  -webkit-box-shadow: 0px 15px 50px rgba(181,204,235,0.5)
  -moz-box-shadow: 0px 15px 50px rgba(181,204,235,0.5)
  z-index: 8

.header-nav-menu-group:hover .header-nav-menu-group-block
  display: block

.header-nav-menu-item
  position: relative
  flex-wrap: wrap
  padding: 10px 30px
  font-size: 16px
  letter-spacing: 0px
  color: rgb(50,57,70)
  text-align: left
  &:hover, &:focus
    color: $White
    background-color: $Eucalyptus_H

.main-slider
  width: 100%
  padding-bottom: 25px

.main-slider-slide
  position: relative
  padding-bottom: 442px
  width: 100%
  background-size: cover
  background-position: center bottom
  box-shadow: 0 3px 7px rgba(0,0,0,0.35)

.main-slider-container
  width: 100%
  height: 100%

.main-slider-content
  position: absolute
  top: 60px

.main-slider-text
  color: $White
  margin-bottom: 40px

.main-slider-text-small
  font-size: 29px
  line-height: 49px
  font-weight: 300
  margin-bottom: 25px

.main-slider-text-large
  font-size: 48px
  font-family: $font-family-2
  font-weight: bold

.main-slider-btn
  padding: 13px 20px
  @include borber($White, solid, 2px)
  & .long-arrow::before
    content: url("../img/long-arrow.png")
    margin-left: 10px
    vertical-align: middle

.slick-dots-container
  position: relative

.slick-dots
  bottom: 40px
  text-align: left
  width: auto
  & li
    margin-right: 64px
    width: auto
    height: auto
  & a:not([href]).slick-dots-item
    color: $White
    font-size: 19px
    letter-spacing: 2px
    line-height: 41px
  & .slick-active
    & a:not([href]).slick-dots-item
      font-size: 26px
    &::after
      content: " "
      display: inline-block
      width: 56px
      height: 3px
      background-color: $White
      margin-left: 10px

.product-content-title
  display: flex
  justify-content: center
  padding: 20px 0
  box-shadow: $box-shadow
  margin-bottom: 50px
  font-size: 24px
  color: $Port_Gore
  font-family: "Roboto Condensed"
  font-weight: bold
  text-transform: uppercase

.content-block-title
  display: inline-flex
  width: 100%
  padding: 32px 0

.content-block-name
  text-transform: uppercase
  display: inline-flex
  align-items: center

.content-block-container
  display: flex
  margin-left: -15px
  margin-right: -15px
  flex-wrap: wrap

.content-block-item
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 5px
  background-color: $White
  box-shadow: $box-shadow
  overflow: hidden
  @include borber(transparent)
  padding-bottom: 17px
  transition: .4s
  &:hover, &:focus
    box-shadow: none
    @include borber($Mystic, solid, 1px)

.content-block-item-name
  line-height: 19px
  text-align: center
  letter-spacing: 0
  color: $Port_Gore

.content-block-item-btn
  width: 80%
  border-top: 1px solid $Mystic
  text-align: center
  padding-top: 30px
  & .BTN
    padding: 10px 55px

.product-category
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  & .content-block
    padding-bottom: 70px
  & .content-block-item-container
    padding: 0 15px
    width: 50%
  & .content-block-item-img
    position: relative
    width: 100%
    height: 155px
    @include overflow()
    & img
      position: absolute
      bottom: 0
      width: 100%
      height: 100%
  & .content-block-item-name
    margin: 30px 15px
    font-size: 18px
    font-weight: bold

.news-article
  background-color: $Athens_Gray
  & .content-block
    padding-bottom: 85px
  & .content-block-link a
    font-size: 16px
    line-height: 17px
    color: $La_Palma
    font-weight: bold
    border-bottom: 1px dashed $La_Palma
    &:hover, &:focus
      color: $Eucalyptus_H
      border-bottom: 1px dashed $Eucalyptus_H
  & .content-block-item-container
    padding: 0 15px
    width: 25%
  & .content-block-item
    @include borber($Athens_Gray)
  & .content-block-item-img
    position: relative
    width: 100%
    @include overflow()
    & img
      width: 100%
  & .content-block-item-name
    font-size: 16px
    letter-spacing: 0
    color: rgb(29,37,63)
    font-weight: normal
    height: 40px
    margin: 10px 15px
    overflow: hidden

.about
  position: relative
  height: 590px
  background-image: url("../img/about-background-img.png")
  background-repeat: no-repeat
  background-position: right
  &::after
    content: " "
    position: absolute
    right: 411px
    border-right: 343px solid transparent
    border-left: 1px solid $White
    border-bottom: 590px solid $White
    z-index: 1
  & .container
    position: relative
  & .content-block
    position: absolute
    padding-top: 23px
    z-index: 2
  & h5
    color: $Eucalyptus_H
    font-family: "Roboto Condensed"
    font-weight: bold
    letter-spacing: -1px
  & .awards
    display: flex
    & img
      margin-left: 40px

footer
  background-color: $Mine_Shaft
  padding-top: 48px
  background-image: url("../img/footer-background.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center 88%

.footer-logo
  display: flex
  align-items: center
  & .logo-description
    font-size: 17px
    color: $Bombay

.footer-content
  color: $White
  &.menu
    margin-left: -60px

.footer-content-title
  display: none
  font-size: 24px
  letter-spacing: 0px
  text-transform: uppercase
  line-height: 40px
  font-weight: 800
  & .fa-plus, & .fa-minus
    display: none
    margin-left: 20px

.footer-menu
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  & .footer-menu-item
    max-width: 45%
    min-width: 35%

.footer-content-item
  position: relative
  font-size: 16px
  margin-bottom: 24px
  width: 264px
  & a
    &:hover, &:focus, &:active
      color: $Eucalyptus_H

.footer-content-contact a
  display: flex
  align-items: start
  & span
    margin-right: 10px

.footer-phone::before
  content: url("../img/footer-phone-img.png")
.footer-email::before
  content: url("../img/footer-email-img.png")

.footer-bottom
  border-top: 1px solid $White
  background-color: rgba(37,37,37,0.6)

.footer-bottom-container
  display: flex
  align-items: center
  padding: 20px 0

.footer-social
  display: flex
  & svg
    margin-right: 55px
    font-size: 20px
    color: $Eucalyptus
    cursor: pointer
    &:hover, &:focus
      color: $Eucalyptus_H

.footer-copyright
  font-size: 16px
  line-height: 30px
  color: $Bombay
  text-align: center

.footer-ask
  display: flex
  justify-content: center
  & .ask-btn
    display: flex
    align-items: center
    justify-content: center
    width: 193px
    @include border-radius(3px)
    &:after
      content: url("../img/footer-ask-btn.png")
      height: 30px
      margin-left: 10px

//Pagination

.pagination-content-block
  display: flex
  margin-left: auto
  margin-right: 15px
  margin-top: 32px

.pagination-item
  margin-left: 20px
  &:first-child .pagination-link, &:last-child .pagination-link
    background-color: $Eucalyptus
    color: $White

.pagination-link
  position: relative
  display: block
  padding: 10px 16px
  margin-left: -1px
  @include borber(#dee2e6)
  @include border-radius(5px)
  &:hover, &:focus, &:active
    box-shadow: 0px 6px 18px rgba(52,52,52,0.2)