@import "ruls"

.product-content-title
  margin-bottom: 30px

.item-container-content
  display: flex
  flex-wrap: wrap

.item-container-content-img-block
  width: 50%
  max-height: 430px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  padding-top: 100px
  padding-bottom: 100px
  box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1)
  & .item-container-content-img
    & img
      width: 100%

.item-container-content-info
  width: 50%
  padding: 0 30px
  & div
    margin-bottom: 20px
  & .item-container-price
    font-size: 24px
    letter-spacing: 2px
    line-height: 27px
    color: $Port_Gore
    font-family: "Roboto Condensed"
    font-weight: bold
    text-transform: uppercase
    & span
      color: $Eucalyptus
  & .item-container-availability, .item-container-box
    font-size: 18px
    line-height: 27px
    color: $Bombay
    & span
      color: $Bright_Gray
  & .item-container-description
    font-size: 16px
    line-height: 27px
    color: $Port_Gore
  & .item-container-btn
    display: flex
    & .BTN
      padding: 5px 70px
      & .shopping-basket-btn
        content: url("../img/shopping-basket-btn.png")
        width: 30px
        margin-left: 15px

.item-description
  margin-top: 55px

.item-description-container
  background-color: $Athens_Gray
  & a
    display: block
    padding-top: 15px
    padding-bottom: 10px
    padding-right: 40px
    padding-left: 40px
    text-transform: uppercase
    font-size: 18px
    color: rgb(42,42,42)
    font-family: "Open Sans"
    font-weight: 800
    &.active
      color: $White
      background-color: $Eucalyptus_H
      &:hover, &:focus
        text-decoration: none
    &:hover, &:focus
      text-decoration: underline

.tab-content
  padding-top: 30px
  padding-bottom: 50px

.item-tab-pane-img
  margin: 20px 0
  max-width: 100%
  & img
    max-width: 100%