@import "ruls"

@media screen and (max-width: 1599.98px)
  .about::after
    right: 320px
    border-left: 92px solid #ffffff

@media screen and (max-width: 1365.98px)
  .about::after
    right: 240px
    border-left: 172px solid #ffffff

@media screen and (max-width: 1199.98px)
  .header-nav-menu li.header-nav-menu-group
    margin-right: 45px
  .header-main-item.lang .active-lang
    justify-content: space-between
  .header-main-item.lang .passive-lang
    left: 15px
  .footer-container
    padding-bottom: 45px
  .footer-logo
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    flex-direction: column
    & .logo-description
      margin-top: 20px
  .content-block-item-btn .BTN
    padding: 10px 40px
  .about
    background-image: none
    height: auto
    padding-bottom: 30px
    & .content-block
      position: relative
    &:after
      content: none
  .filter-item-price input
    width: 60px

@media screen and (max-width: 991.98px)
  .header-main-item.basket .basket-img
    margin-left: -35px
  .header-mobile-nav, .product-mobile-filter
    display: flex
  .container
    max-width: 100%
  .header-nav-menu
    display: none
  .header-nav-menu li.header-nav-menu-group
    margin-left: 0
    margin-right: 0
  .header-nav-menu li.header-nav-menu-group:first-child
    border: none
    & svg
      display: none
  .header-nav-menu-group:hover .header-nav-menu-group-block
    display: none
  footer
    padding-bottom: 130px
  .footer-content.toggle
    & .fa-plus
      display: block
    & .toggle-item
      display: none
  .footer-content.toggle.opened
    & .fa-plus
      display: none
    & .fa-minus
      display: block
  .toggle-item
    margin-top: 20px
  .footer-content-title
    display: flex
    align-items: center
  .footer-content.menu
    margin-left: 0
    margin-top: 20px
  .footer-content.contacts
    margin-top: 20px
  .footer-social
    justify-content: center
    & svg
      margin: 0 30px
  .footer-copyright, .footer-ask
    margin-top: 10px
  .product-category, .news-article
    &.content-block-container
      padding: 0 120px
  .product-category .content-block-item-img
    height: 110px
  .news-article .content-block-item-container
    width: 50%
    &:nth-child(1), &:nth-child(2)
      margin-bottom: 30px
  .product-filter-container
    display: none
  .product-filter-item
    padding-left: 35px
    padding-right: 35px
  .filter-item-price
    justify-content: center
    & input
      width: 70px
  .product-content-title
    margin-bottom: 10px
  .contact-information
    order: 1
  .cart-items
    margin-bottom: 55px
    padding: 0
  .blog-page
    padding: 0
  .blog-item
    width: 100%

@media screen and (max-width: 767.98px)
  .header-main-item.search
    order: 1
    display: none
    margin-top: 20px
    & form
      max-width: 100%
  .product-category .content-block-item-container,
  .news-article .content-block-item-container
    width: 100%
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  .product-content-items .content-block-container
    width: 50%
  .item-container-content-img-block
    width: 100%
  .item-container-content-info
    width: 100%
    margin-top: 30px
    & .item-container-btn
      justify-content: center
  .item-description
    margin-top: 20px
  .contact-information-item
    width: 100%
  .blog-item-img
    background-size: cover

@media screen and (max-width: 575.98px)
  .product-category, .news-article
    &.content-block-container
      padding: 0 80px
  .about .awards
    display: block
  .product-content-title
    font-size: 18px
  .product-content-items
    justify-content: center
    & .content-block-container
      width: 100%
  .product-content-items .content-block-item-btn
    padding-top: 15px
    & .BTN
      padding: 10px 15px
  .item-container-content-img-block
    padding-top: 20px
    padding-bottom: 20px
    & .item-container-content-img img
      max-height: 200px
      width: auto
  .item-description-container
    padding: 0
    & .container
      padding: 0
    & a
      font-size: 14px
      width: 160px
      text-align: center
      padding-right: 0
      padding-left: 0
  .contact-information-user-item
    width: 100%
  .contact-information .contact-information-btn .BTN
    padding: 5px 15px

@media screen and (max-width: 430.98px)
  .product-category, .news-article
    & .content-block-container
      padding: 0 20px
  .content-block-title
    flex-direction: column
    .content-block-link
      margin-top: 20px
  .pagination-item
    margin-left: 10px
  .contact-information
    & input, & textarea, & .contact-information-select
      width: 100%
      max-width: 100%